:root {
    --main-button-color: #883AE1;
    --main-background-button-color: #E6D6FC;
    --main-title-color: #20293A;
    --main-text-color: #6C727F;
    --main-background-color: #FAFAF9;
    --main-background-separator-color: #E5EAF0;
}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    font-size: 0.9em;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}

.card {
    display: flex;
    flex-direction: column;
    width: 336px;
    margin: 164px auto auto auto;
    background-color: white;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    border-radius: 10px;
  }

.img {
    display: flex;
    justify-content: center;
    height: 152px;
    padding: 16px;
}

img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

button {
    border: none;
    font-size: 0.625em;
    font-weight: 700;
    padding: 6px 16px;
    margin: 0 16px;
    width: max-content;
    border-radius: 999px;
    color: var(--main-button-color);
    background-color: var(--main-background-button-color);
}

h2 {
    color: var(--main-title-color);
    font-size: 1.125em;
    margin: 16px 16px 6px 16px;
}

p:first-of-type {
    margin: 0 16px;
    font-size: 0.875em;
    line-height: 1.1rem;
}

.separator {
    width: 100%;
    height: 1px;
    margin-top: 20px;
    background-color: var(--main-background-separator-color);
}
p:last-of-type {
    margin: 20px 16px;
    font-size: 0.75em;
}